config.mk
acinclude.m4
aclocal.m4
auto/ltmain.sh
autom4te.cache/
src/config.h
config.*
contrib/omniEvents.pc
etc/init.d/omniorb-eventservice
examples/pullcons
examples/pullsupp
examples/pushcons
examples/pushsupp
idl/*.cc
idl/*.hh
idl/*.a
src/omniEvents
tools/eventc
tools/eventf
tools/events
tools/eventl
tools/rmeventc
tools/rmeventall
*.pyc

